<%= turbo_frame_tag "driver" do %>
    <ul>
        <li>
            Driver Name: <%= @driver.driverName %>
        </li>
        <li>
            Auth. No: <%= @driver.authNo %>
        </li>
        <li>
            Licence: <%= @driver.licence %>
        </li>
        <li>
            Security Check In Time: <%= @driver.securityCheckIn %>
        </li>
        <li>
            Counter Check In Time: <%= @driver.counterCheckIn %>
        </li>
        <li>
            Dock Door: <%= @driver.dockDoor %>
        </li>
    </ul>
<% end %>
