<tr id="driver_<%= driver.id %>" data-controller="driver_filter">
    <td class="border border-slate-300"> <%= check_box_tag 'driver_ids[]', driver.id %></td>
    <td class="border border-slate-300">
      <button type="button" data-action="driver_filter#click" value="<%= driver.id %>"><%= driver.driverName %></button>
    </td>
    <td class="border border-slate-300"><%= driver.authNo %></td>
    <td class="border border-slate-300"><%= driver.licence %></td>
    <td class="border border-slate-300"><%= driver.securityCheckIn %></td>
    <td class="border border-slate-300"><%= driver.counterCheckIn %></td>
    <td class="border border-slate-300"><%= driver.dockDoor %></td>
</tr>

<%# <%= link_to "Delete", driver_path(driver), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %> 