<tr id="driver_<%= driver.id %>">
    <td><input type="checkbox" name="" id=""><%= link_to "Delete", driver_path(driver), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></td>
    <td><%= link_to driver.driverName, driver_path(driver) %> </td>
    <td><%= driver.authNo %></td>
    <td><%= driver.licence %></td>
    <td><%= driver.securityCheckIn %></td>
    <td><%= driver.counterCheckIn %></td>
    <td><%= driver.dockDoor %></td>
</tr>